.footer
  .container
    #footer-line
      .pull-left
        = link_to 'about', about_path
        |
        = link_to 'Instruction', instruction_path

      .pull-right
        Copyright © #{Date.today.year}