.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Teaching Efficiency Rating System", root_path, {:class => 'brand'}

      .container.nav-collapse
        %ul.nav.pull-right
          %li= link_to 'Take a Survey'
          %li= link_to 'Admin', admin_root_url