%h1 Morshed Alam

%h4
  Email:
  %a{:href => "mailto:morshed201@gmail.com", :target => "_blank"} morshed201@gmail.com

%h4
  Website:
  %a{:href => "http://morshed-alam.com", :target => "_blank"} http://morshed-alam.com