%h3 Populate Sample Data
%p
  %code
    bundle exec rake db:populate
%br

%h3 Take a Survey
%h5{:style => "font-weight:normal"}
  %p
    1. Click to
    %span.label.label-info Take a Survey
    link from navigation bar
  %p
    2. System will show all the surveys available in the system with questions and results count respectively
    %span.label.label-info Q : 10
    %span.label.label-info R : 10

  %p
    2. Click any boxes to take survey

%br
%h3 Selecting User
%h5{:style => "font-weight:normal"}
  Currently, system automatically choose random user from database and instantiate survey.

%br
%h3 Contributing
%p 1. Fork it
%p 2. Create your feature branch (`git checkout -b my-new-feature`)
%p 3. Commit your changes (`git commit -am 'Added some feature'`)
%p 4. Push to the branch (`git push origin my-new-feature`)
%p 5. Create new Pull Request