%h4 Populate Sample Data
%p
  %code
    bundle exec rake db:populate
%br

%h3 Take a Survey
%h5{:style => "font-weight:normal"}
  Click to "Take a Survey" link from navigation bar.
  System will show available surveys in the system.
  You can pick anyone of them by clicking "Take" button their.

%br
%h3 Selecting User
%h5{:style => "font-weight:normal"}
  Currently, system automatically choose random user from database and instantiate survey.

%br
%h3 Contributing
%p 1. Fork it
%p 2. Create your feature branch (`git checkout -b my-new-feature`)
%p 3. Commit your changes (`git commit -am 'Added some feature'`)
%p 4. Push to the branch (`git push origin my-new-feature`)
%p 5. Create new Pull Request