/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 *= require bootstrap
 *= require bootstrap-responsive
 */

.content-container {
    min-height: 400px;
}

.empty {
    color: #c0c0c0;
}

#error_explanation {
    color: red;
}

#error_explanation h2 {
    font-size: 14px;
    line-height: 30px;
    margin: 0;
}

.date {
    white-space: nowrap;
    width: 80px;
}

.datetime {
    white-space: nowrap;
    width: 120px;
}

input[type="text"] {
    width: 350px;
}

textarea {
    height: 150px;
    width: 500px;
}

.actions {
    white-space: nowrap;
    width: 50px;
}

.controls .fields {
    padding-bottom: 1px;;
}

.fields .field_with_errors {
    display: inline;
}

#new_section{
    margin-top: 5px;
}

#footer-line{
    margin-top: 30px;
}

