body {
  background-color: #ffffff;
}

a, a:visited, a:active {
  text-decoration: none;
}

.controls {
  input[type="radio"] {
    display: inline;
    margin: 0px;
  }
  label {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.btn-icon {
  cursor: pointer;
}

.btn-icon:hover {
  text-decoration: none;
}

.dl-horizontal dt {
  font-weight: normal;
  padding-bottom: 3px;
}

.dl-horizontal dd {
  padding-bottom: 3px;
}

.survey {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  width: 320px;
  line-height: 20px;
  padding: 4px 0px 4px 5px;

  .name {
    display: inline-block;
    width: 210px;
  }
  .label {
    display: inline-block;
    margin-right: 2px;
    min-width: 30px;
    font-size: 90%;
    text-align: center;
    line-height: 16px;
  }
  .result {
    background-color: #5BB75B;
    min-width: 45px;
  }
  .btn-take {
    background-color: #F89406;
    font-size: 100%;
    width: auto;
  }
}

.table th, .table td {
  font-size: 12px;
}