// Import all the variables into the main css file.
//@import "variables";

// I gather this file is a starting point for the project.
@import "bootstrap";
// Include responsive Bootstrap styles
@import "bootstrap-responsive";

body {
  padding-top: 60px;
}
.page-header {
  margin: 0 0 10px 0;
  padding-bottom: 0px;
  h1{
    font-size: 20px;
  }
}

body {
  background-color: #ffffff;
  padding-top: 60px;
}

a, a:visited, a:active {
  text-decoration: none;
}

.navbar-inner {
  background-color: #283344;
  background-image: none;
  a {
    color: #fff;
  }
}

.footer {
  background-color: #283344;
  clear: both;
  font-size: 10px;
  color: #fff;

  a {
    font-size: 10px;
    color: white;
  }

  #footer-navigation {
    margin: 0 0px;
    padding: 5px 0px 15px 0px;
    height: 100px;

    .span2 {
      margin-left: 0px;
      margin-right: 25px;
    }
    .last {
      margin-right: 0px;
    }
    .title {
      border-bottom: 1px solid #586A80;
      margin: 0 0 12px 0;
      padding: 5px 0;
      a:hover {
        color: #586A80;
        text-decoration: none;
      }
    }
    ul {
      padding-left: 0;
      margin-left: 0;
      li {
        line-height: 12px;
        list-style: none;
        margin: 4px 0 4px 0;
        padding: 0px 0;
      }
    }
  }
  #footer-line {
    margin: 20px 0 5px 0;
    height: 15px;
    padding: 5px 0;
    border-top: 1px dotted #586A80;
    border-bottom: 1px dotted #586A80;

  }
}
.controls{
  input[type="radio"]{
    display: inline;
    margin: 0px;
  }
  label{
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
}
.btn-icon{
  cursor: pointer;
}
.btn-icon:hover{
  text-decoration: none;
}