body {
  background-color: #ffffff;
  padding-top: 60px;
}

a, a:visited, a:active {
  text-decoration: none;
}

.controls {
  input[type="radio"] {
    display: inline;
    margin: 0px;
  }
  label {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.btn-icon {
  cursor: pointer;
}

.btn-icon:hover {
  text-decoration: none;
}

.dl-horizontal dt {
  font-weight: normal;
  padding-bottom: 3px;
}

.dl-horizontal dd {
  padding-bottom: 3px;
}